:root {
  --main-color: #0b1218;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

main {
  margin-top: 80px;
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 90px);
}

.main-content {
  margin-left: 250px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-single div:last-child span {
  font-size: 3rem;
  color: var(--main-color);
  color: rgb(10, 120, 122);
}

.card-single div:first-child span {
  color: var(--text-grey);
}

.card-single:last-child {
  background: var(--main-color);
}

.recent-grid{
  display: grid;
  grid-template-columns: 60% auto;
}

.recent-grid .card {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.recent-grid .card-header {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 100%;
}
