body {
	background: #f9f9f9;
}

.EmployeeTable {
  padding: 40px;
}

.EmployeeTable .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}